html body {
  background-color: #EDE6D4;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
}

.nav-item:hover {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}

header {
  font-family: 'Roboto Slab', serif;
  margin: 50px 50px;
}

h1 span {
  background-color: black;
  color: white;
}

.mark_1 {
  background-color:blueviolet;
  color: black;
}

.mark_2 {
  background-color:brown;
  color: black;
}

.cover_page {
  max-height: auto;
  max-width: 100%;
}

.spacing {
  height: 100px;
}

footer {
  font-family: 'Roboto Slab', serif;
}

section {
  margin-bottom: 100px;
}

body, p{
  font-family: 'Roboto Slab', serif;
}

section p {
  font-size: 2em;
}

#nav-link {
  color: black;
}

#logo {
  max-height: 1em;
}