<!-- navbar -->
<nav class="navbar fixed-top d-flex justify-content-between flex-nowrap align-middle">
  <div class="nav-brand">
    <a href="/index.html">Cécile Dumas</a>
  </div>

  <div class="dropdown dropdown-responsive">
     <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
     <li><a class="dropdown-item" href="#"><strong>Films</strong></a></li>
      <li><a class="dropdown-item" href="#">Post Mortem Beach</a></li>
      <li><a class="dropdown-item" href="/pages/project2.html">Diane</a></li>
      <li><a class="dropdown-item" href="#">Harold</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#"><strong>Other Works</strong></a></li>
    </ul>
  </div>

  <div>
    <div class="nav-link-custom">
      <a href="https://www.instagram.com/cecile__dumas/"><img class="nav-link-logo"
          src="/assets/logo/instagram_logo.png" alt="instagram_logo"></a>
    </div>
    <div class="nav-link-custom">
      <a href="https://vimeo.com/user52093445"><img class="nav-link-logo" src="/assets/logo/vimeo_logo.png"
          alt="vimeo_logo"></a>
    </div>
  </div>
</nav>