<ul id="show-sidebar-films" class="sidebar-title"
    onclick="displayHide('sidebar-films-list', 'arrow-up-films', 'arrow-down-films')"><strong>Films</strong><span
        id="arrow-down-films">&#8964;</span><span id="arrow-up-films">&#8963;</span>
    <div id="sidebar-films-list">
        <li class="sidebar-item"><a href="/pages/project1.html">Post Mortem Beach</a></li>
        <li class="sidebar-item"><a href="">Rita Past Away</a></li>
        <li class="sidebar-item"><a href="">Harold</a></li>
        <li class="sidebar-item"><a href="">La Rafale</a></li>
        <li class="sidebar-item"><a href="/pages/project2.html">Diane</a></li>
        <li class="sidebar-item"><a href="">Vacance</a></li>
    </div>
</ul>

<ul id="show-sidebar-other-works" class="sidebar-title"
    onclick="displayHide('sidebar-other-works-list', 'arrow-up-other', 'arrow-down-other')"><strong>Other
        Works</strong><span id="arrow-down-other">&#8964;</span><span id="arrow-up-other">&#8963;</span>
    <div id="sidebar-other-works-list">
        <li class="sidebar-item">Run from me darling</li>
        <li class="sidebar-item">
            Pour naviguer en environnement incertain,<br> mieux vaut savoir se
            détouner du scénario </li>
        <li class="sidebar-item">Things we forgot on vacation</li>
        <li class="sidebar-item">La grande magie au ralenti</li>
    </div>
</ul>

<ul class="sidebar-title"><strong>Films de commande</strong>
</ul>

<ul class="sidebar-title"><strong>Contact</strong>
</ul>

 