nav {
  background-color: lightpink;
  margin-bottom: 100px;
}

.nav-brand {
  font-family: 'Inknut Antiqua', serif;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link-custom {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#nav-link {
  color: black;
}

.nav-link-logo {
  max-height: 0.9em;
}

.nav-brand 
a:visited,
a:link,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

/* .nav-item {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
} */

header {
  font-family: 'Inknut Antiqua', serif;
  margin: 100px 50px;
}

/* body {
  cursor: crosshair
}

a:link {
  cursor: n-resize;
} */

.project-description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 0.8em;
}

/* créé un décalage de x pixels en bas
.rel {
  position: relative;
  bottom: 600px;
}

.rel1 {
  position: relative;
} */

/* .rel2 {
  position: relative;
  top: 200px;
}

.rel3 {
  position: relative;
  top: 200px;
}

.rel4 {
  position: relative;
  top: 150px;
} */

.project-cast {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

h1 span {
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.8em;
}

h2 span {
  font-family: 'Arial', serif;
  margin-left: 15px;
  font-size: 0.7em;
}

ul {
  list-style-type: none;
}

.sidebar-title {
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.75em;
  cursor: pointer;
}

.sidebar-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}

.sidebar-item a:visited{
  text-decoration: none;
}

.sidebar-item a:hover {
  background-color: lightpink;
}

.project-subtitle {
  margin-top: 50px;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.project-img-container {
  z-index: 0;
  position: absolute;
  top:22rem;
}

.project-img {
  margin-top: 200px;
  max-height: 400px;
  max-width: auto;
}

.profil-picture {
  max-height: auto;
  max-width: 140px;
}

.spacing {
  height: 100px;
}

h1 a,
h1 a:visited,
h1 a:link,
h1 a:hover,
h1 a:active {
  color: black;
  text-decoration: none;
}

section {
  margin-bottom: 50px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
}

body,
p {
  font-family: 'Inknut Antiqua', serif;
}

body .bio-title {
  font-family: 'Inknut Antiqua', serif;
}

body .bio-text {
  font-family: Arial, Helvetica, sans-serif;
}

article p,
section p {
  font-size: 2em;
}

.text-project {
  position: fixed;
  margin-top: 5em;
}


#sidebar-films-list {
  display: none;
}

#sidebar-other-works-list {
  display: none;
}

#arrow-up-films {
  display: none;
}

#arrow-up-other {
  display: none;
}