.navbar-brand {
  font-family: 'Inknut Antiqua', serif;
  position:fixed
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

header {
  font-family: 'Inknut Antiqua', serif;
  margin: 50px 50px;
}

.project_description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 0.8em;
}

/*créé un décalage de x pixels en bas*/
.rel {
  position: relative;
  top:600px;
}

.rel1 {
  position: relative;
}


.rel2 {
  position: relative;
  top:200px;
}

.rel3 {
  position: relative;
  top:200px;
}

.rel4 {
  position: relative;
  top:150px;
}



.project_cast {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  
}

h1 span {
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.8em;
}

h2 span {
  font-family: 'Arial', serif;
  margin-left: 15px;
  font-size: 0.7em;
}

ul {
  list-style-type: none;
}

.sidebar {
  margin-bottom: 100px;
}

.sidebar_title {
  font-weight: bold;
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.7em;
}

.sidebar_item {
  font-family: Arial,Helvetica, sans-serif;
  font-size: 0.7em;
}

.project_subtitle {
  margin-top: 50px;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.project_img {
  margin-top: 20px;
  max-height: auto;
  max-width: 80%;
}

.profil_picture {
  max-height: auto;
  max-width: 140px;
}

.spacing {
  height: 100px;
}

nav {
  margin-bottom: 100px;
}

h1 a, h1 a:visited, h1 a:link, h1 a:hover, h1 a:active{
  color: black;
  text-decoration: none;
}

section {
  margin-bottom: 50px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
}

body hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

body, p{
  font-family: 'Inknut Antiqua', serif;
}

body .bio_title {
  font-family: 'Inknut Antiqua', serif;
}

body .bio_text {
  font-family: Arial, Helvetica, sans-serif;
}

article p, section p {
  font-size: 2em;
}

#nav-link {
  color: black;
}

#logo {
  max-height: 1em;
}

.project_img_bg {
  z-index: 1;
}

.text-project {
  position: fixed;
  z-index: -1;
}


#sidebar_films_list {
  display: none;
}

#arrow_up {
  display: none;
}